<h1>Change Password</h1>
{{ form.value | json }}
{{ form.invalid }}
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input type="text" class="form-control" id="oldPassword" name="oldPassword" formControlName="oldPassword" [ngClass]="{'is-invalid': oldPassword.dirty && oldPassword.invalid}">
    <div class="form-text text-muted">
      Old Password (123)
    </div>
    <div class="form-text" *ngIf="oldPassword.pending">
      Checking password validity
    </div>
    <div *ngIf="oldPassword.dirty && oldPassword.invalid" class="invalid-feedback">
      <p *ngIf="oldPassword.errors.required">Old Password is required</p>
      <p *ngIf="oldPassword.errors.invalidPassword">Old Password is invalid</p>
    </div>
  </div>
  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input type="text" class="form-control" id="newPassword" name="newPassword" formControlName="newPassword" [ngClass]="{'is-invalid': newPassword.dirty && newPassword.invalid}">
    <div *ngIf="newPassword.dirty && newPassword.invalid" [ngClass]="{'invalid-feedback': newPassword.dirty && newPassword.invalid}">
      <p *ngIf="newPassword.errors.required">New Password is required</p>
    </div>
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="text" class="form-control" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" [ngClass]="{'is-invalid': confirmPassword.dirty && (confirmPassword.invalid || form.errors?.passwordsShouldMatch)}">
    <div *ngIf="confirmPassword.dirty && confirmPassword.invalid" class="invalid-feedback">
      <p *ngIf="confirmPassword.errors.required">Confirm Password is required</p>
    </div>
    <div *ngIf="confirmPassword.dirty && form.invalid && form.errors?.passwordsShouldMatch" class="invalid-feedback">
      Password do not match
    </div>
  </div>

  <button type="submit" class="btn btn-secondary" [disabled]="form.invalid">Add User</button>
</form>
