<h1>Reactive Form</h1>
{{ mdfForm.value | json }}
<form [formGroup]="mdfForm" (ngSubmit)="onmdfSubmit()">
  <div class="card border border-danger" *ngIf="mdfForm.errors">
    <div class="card-body text-danger">
      Username or Password is invalid
    </div>
  </div>
  <div class="form-group">
    <label for="username">Name</label>
    <input type="text" class="form-control" id="username" name="username" formControlName="username" [ngClass]="{'is-invalid': username.dirty && username.invalid}">
    <div class="form-text text-muted">
      (allowing Alphabets, Dots, Spaces)
    </div>
    <div class="form-text text-muted">
      To try async validation type "hemant"
    </div>
    <div class="form-text" *ngIf="username.pending">
      Checking for uniqueness
    </div>
    <div *ngIf="username.dirty && username.invalid" [ngClass]="{'invalid-feedback': username.dirty && username.invalid}">
      <p *ngIf='username.errors.required'>Name is required</p>
      <p *ngIf='username.errors.minlength'>Min 3 char please</p>
      <p *ngIf='username.errors.pattern'>Follow pattern</p>
      <p *ngIf='username.errors.cannotContainSpace'>Username cannot contain space</p>
      <p *ngIf='username.errors.usernameTaken'>Username already taken</p>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" formControlName="email" [ngClass]="{'is-invalid': email.dirty && email.invalid}">
    <div *ngIf="email.dirty && email.invalid" [ngClass]="{'invalid-feedback': email.dirty && email.invalid}">
      <p *ngIf='email.errors.email'>Not a valid Email</p>
    </div>
  </div>
  <div class="form-group">
    <label for="pwd">Password</label>
    <input type="password" class="form-control" id="pwd" name="pwd" formControlName="pwd">
    <!-- <div *ngIf="email.dirty && email.invalid" [ngClass]="{'invalid-feedback': email.dirty && email.invalid}">
      <p *ngIf='email.errors.email'>Not a valid Email</p>
    </div> -->
  </div>
  <div formGroupName="address">
    <h2>My Address
      <small class="text-muted">(ngModelGroup)</small>
    </h2>
    <div class="form-group">
      <label for="primary">Primary</label>
      <input type="text" class="form-control" id="primary" name="primary" formControlName="primary" [ngClass]="{'is-invalid': primary.dirty && primary.invalid}">
      <div *ngIf="primary.dirty && primary.invalid" [ngClass]="{'invalid-feedback': primary.dirty && primary.invalid}">
        <p *ngIf='primary.errors.required'>Primary Address is required</p>
      </div>
    </div>
    <div class="form-group">
      <label for="secondary">Secondary</label>
      <input type="text" class="form-control" id="secondary" name="secondary" formControlName="secondary">
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="mdfForm.invalid">Add User</button>
</form>