// Here you can add other styles
@font-face {
  font-family: 'SEGOEUIL';
  src: url('../assets/fonts/SEGOEUIL.eot');
  src: local('SEGOEUIL'), url('../assets/fonts/SEGOEUIL.woff') format('woff'), url('../assets/fonts/SEGOEUIL.ttf') format('truetype');
}